<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Entry</title>
    <link rel="stylesheet" type="text/css" href="../style.css" />
</head>
<body>
    <header>
        <a href="/users">Users</a>
        <a href="/moods">Moods</a>
        <a href="/journal">Journal</a>
    </header>
    <div class="main">
        <h1>New Entry</h1>
        <div class="container">
            <form action="" method="post" class="item form">
                <label for="userId">Select user account:</label>
                <select name="userId" id="userId">
                    <%- userSelect %>
                </select>
                <label for="mood">Select your mood:</label>
                <select name="mood" id="mood">
                    <%- moodSelect %>
                </select>
                <label for="note">Note:</label>
                <input type="text" name="note" id="note">
                <button type="submit">Save Entry</button>
            </form>
        </div>
    </div>
   
</body>
</html>